services:
  ci:
    build:
      context: .
      dockerfile_inline: |
        FROM node:22-bookworm-slim
        RUN corepack enable
        RUN apt-get update && apt-get install -y openssl python3 make g++ && rm -rf /var/lib/apt/lists/*
        WORKDIR /usr/src/app
        COPY package.json pnpm-lock.yaml pnpm-workspace.yaml ./
        COPY backend/package.json ./backend/
        COPY frontend/package.json ./frontend/
        RUN pnpm install --frozen-lockfile
        COPY . .
        RUN pnpm lint
        RUN pnpm --filter backend exec prisma generate
        RUN pnpm build
    profiles:
      - ci
    command: pnpm run local-ci
