name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json
    - name: Install dependencies
      run: npm install
      working-directory: ./backend
    - name: Test
      continue-on-error: true
      run: npm test
      working-directory: ./backend
    - name: Build
      run: npm run build
      working-directory: ./backend

  build-frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - name: Install dependencies
      run: npm install
      working-directory: ./frontend
    - name: Test
      continue-on-error: true
      run: npm test
      working-directory: ./frontend
    - name: Build
      run: npm run build
      working-directory: ./frontend
